.footer {
	background-color: $dark-grey;
	color: $white-color;
	padding: 4.8rem 0;

	@include respond(phone) {
		border: 0px;
	}

	&__text {
		color: darken(white, 50%);
		font-size: 1.3rem;

		a {
			color: darken(white, 50%);
			font-size: 1.3rem;
			transition: all 0.2s;
			display: inline-block;
			background-color: $dark-grey;

			&:hover,
			&:active {
				color: $primary-color;
				-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
				box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
				font-weight: 700;
				transform: rotate(3deg) scale(1.1) !important;
			}
		}
	}

	& hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		width: 50%;
		border-top: 2px solid rgba(255, 255, 255, 0.1);
	}
}

.social-links {
	display: flex !important;
	flex-direction: row;
	justify-content: center !important;
	align-items: center !important;

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		width: 5rem;
		height: 5rem;
		margin: 0 5px 0 5px;
		transition: all 0.3s ease-in;

		&:hover {
			transform: translateY(-2px);
		}
	}

	li {
		list-style: none;
	}

	li.linkedin i:hover {
		color: #0077b5;
		transition: 0.3s;
	}

	li.github i:hover {
		color: #131418;
		transition: 0.3s;
	}

	li.twitter i:hover {
		color: #55acee;
		transition: 0.3s;
	}

	li.instagram i:hover {
		color: #e4405f;
		transition: 0.3s;
	}

	li.codepen i:hover {
		color: #4c75a3;
		transition: 0.3s;
	}

	li.devto i:hover {
		color: #02b875;
		transition: 0.3s;
	}

	li.fcc i:hover {
		color: #006400;
		transition: 0.3s;
	}
}

.back-to-top i {
	color: $white-color;
	margin: 1rem 0 $default-font-size;
	transition: all 0.2s ease-in;

	&:hover {
		transform: translateY(-3px);
	}
}

@media only screen and (min-width: 600px) {
	.social-links a {
		margin: auto;
		font-size: 1rem;
	}
}
