#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
}

#logo {
	display: inline-block;
	width: 100px;
	height: 100px;
	position: relative;
	bottom: 1rem;
	left: 2rem;
}

.navbar-links ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: $dark-blue-text;
	font-size: 2rem;
	font-weight: bold;
	padding: 1.5rem;
	margin: 2rem;
	display: block;

	&:hover {
		transform: translateY(-2px);
		text-shadow: 1px 1px 1px $primary-color;
		border-bottom: 2px solid $secondary-color;
	}
}

.toggle-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: $dark-blue-text;
	border-radius: 10px;
}

@media (max-width: 600px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	#navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: 0.5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
		background: white;
	}
}

// Mobile Responsiveness
@media only screen and (max-width: 600px) {
	#logo img {
		display: none;
	}

	.skill-cards {
		font-size: 1rem;
	}

	.toggle-button {
		top: 2.5rem;
		right: 5rem;
	}
}

// Tablet Responsiveness
@media only screen and (max-width: 768px) {
	.navbar-links li a {
		padding: 1rem;
		margin: 1rem;
	}
}
